@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $green-b57 $yellow;
}
body{
    @include font($white, $hebbo, 0.813rem, 700);
    line-height: 120%;
    .container{
        // common
        .shop-button {
            width: fit-content;
            height: fit-content;
            @include font($white, $hebbo, 0.813rem, 600);
            line-height: normal;
            letter-spacing: 1.08px;
            text-align: center;
            padding: 0.87rem 5.5rem;
            border: 1px solid $white;
            border-radius: 50px;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 1.7rem;
            display: inline-block;
            &:hover{
                background-color: $white-lt;
            }
        }
        .shop-underline-sq{
            width: fit-content;
            height: fit-content;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            @include font($white, $hebbo, 0.813rem, 600);
            line-height: normal;
            letter-spacing: 1.08px;
            text-align: center;
            margin-top: 3.188rem;
            border-radius: unset;
            border: unset;
            border-bottom: 1px solid $white;
            padding: 0.7rem 2.8rem;
            &:hover{
                color: $yellow;
                border-color: $yellow;
            }
        }
        .icons{
            display: flex;
            justify-content: space-around;
            margin-top: 1.125rem;
            img{
                height: fit-content;
            }
        }
        .no{
            display: none;
        }
        .green-nav{
            background: $green-b57;
            @include font($white, $hebbo, 0.75rem, 700);
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 15vw;
            gap: 10px;
            align-items: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-bottom: 2px solid $white;
            .logo{
                a{
                    text-decoration: none;
                    color: $white;
                }
            }
            .minor-nav{
                display: flex;
                list-style-type: none;
                gap: 3.3rem;
                li{
                    a{
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
        .landing-page{
            position: relative;
                height: calc(100dvh - 34px);
            .background-image{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: url(assets/extrawide/bitmap_22@2x.png);
                background-size: cover;
                background-position: center;
                filter: contrast(1.1) brightness(0.7);
                z-index: -1;
            }
            .nav-majore{
                padding: 0 18vw;
                .navigation{
                    padding: 1.75rem 0;
                    display: flex;
                    gap: 4rem;
                    list-style-type: none;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    @include font($white, $hebbo, 0.813rem, 700);
                    &::before, &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        width: 38%;
                        background-color: $white;
                    }
                    &::after{
                        left: unset;
                        right: 0;
                    }
                    li{
                        text-transform: uppercase;
                        cursor: pointer;
                        letter-spacing: 1.08px;
                        a{
                            color: $white;
                            text-decoration: none;
                        }
                        &.li-with-arrow{
                            display: flex;
                            align-items: center;
                            img{
                                display: inline-block;
                                margin-left: 1.48rem;
                                transform: rotate(90deg);   
                            }
                            &:hover img{
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
            }
            .hero-section{
                height: calc(100% - 76px);
                width: 60%;
                margin: auto;
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                .mini-heading{
                    @include font($white, $hebbo , 1rem, 600);
                    line-height: 1.5rem;
                    text-transform: uppercase;
                    margin-bottom: 0.75rem;
                    letter-spacing: 1.5px;
                }
                .hero-heading{
                    @include font($white, $mr-alex, 5.625rem, 500);
                    line-height: 5.625rem;
                    text-transform: uppercase;
                    letter-spacing: normal;
                }
            }
        }
        .biggest-fold{
            background: url(/assets/extrawide/group-6.png);
            background-size: cover;
            background-position: center;
            .our-services{
                padding-top: 4.938rem;
                width: 80%;
                margin: auto;
                text-align: center;
                @include font($dark-514, $hebbo, 0.813rem, 700);
                text-transform: uppercase;
                .small{
                    letter-spacing: 1.08px;
                }
                .main-heading{
                    font-size: 3.125rem;
                    line-height: 3.125rem;
                    margin-top: 1.1rem;
                }
                .shop-button{
                    background-color: $dark-514;
                    border-color: $dark-514;
                    margin-top: 2.1rem;
                }
            }
        
        .explore-destination-section{
            width: 70vw;
            height: auto;
            margin: 7.3rem auto auto auto;
            position: relative;
            img{
                width: 100%;
                height: auto;
            }
            .overlay-div{
                background-color: $green-08;
                position: absolute;
                top: -50px;
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
                padding: 5% 15%;
                text-align: center;
                border-bottom: 10px solid $yellow;
                .small{
                    font-size: 0.813rem;
                    letter-spacing: 1.08px;
                    text-transform: uppercase;
                    margin-bottom: 0.68rem;
                }
                .main-heading{
                    font-size: 3.125rem;
                    line-height: 3.125rem;
                    text-transform: uppercase;
                    margin-bottom: 1.31rem;
                }
                .desc{
                    font-size: 1.125rem;
                    line-height: 1.375rem;
                    font-weight: normal;
                }
                .shop-button{
                    margin-top: 3.188rem;
                    border-radius: unset;
                    border: unset;
                    border-bottom: 1px solid $white;
                    padding: 0.7rem 2.8rem;
                }
            }
        }
        .find-tour-tickets {
            width: 100%;
            position: relative;
            margin: 3.7rem auto auto;
            height: 32rem;
            text-align: center;
            .left{
                position: absolute;
                left: 0;
                top: 10%;
                z-index: 1;
                right: 35%;
                .overlay-div{
                    width: 100%;
                    padding: 6% 15vw;
                    background-color: $green-b57;
                    border-right: 10px solid $yellow;
                    .small{
                        font-size: 0.813rem;
                        letter-spacing: 1.08px;
                        text-transform: uppercase;
                        margin-bottom: 0.68rem;
                    }
                    .main-heading{
                        font-size: 3.125rem;
                        line-height: 3.125rem;
                        text-transform: uppercase;
                        margin-bottom: 1.31rem;
                    }
                    .desc{
                        font-size: 1.125rem;
                        line-height: 1.375rem;
                        font-weight: normal;
                    }
                    .shop-underline-sq{
                        margin-top: 5%;
                    }
                }
            }
            .right{
                position: absolute;
                right: 5%;
                top: 0;
                bottom: 0;
                img{
                    height: 100%;
                    width: auto;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        .find-your-next-wrapper{
            margin-top: 4.6rem;
            position: relative;
            .find-your-next{
                display: flex;
                justify-content: space-around;
                gap: 2rem;
                .card{
                    background-color: $white;
                    color: $dark-514;
                    padding: 4.188rem 4.688rem 29rem 3.688rem;
                    width: 36.688rem; 
                    .small{
                        font-size: 0.813rem;
                        letter-spacing: 1.08px;
                        text-transform: Uppercase;
                        border-block-start: 0.5rem;
                    }
                    .main-heading{
                        font-size: 3.125rem;
                        line-height: 3.125rem;
                        text-transform: uppercase;
                        margin-bottom: 0.62rem;
                    }
                    .desc{
                        font-size: 1.125rem;
                        line-height: 1.375rem;
                        font-weight: normal;
                    }
                }
            }
            .image-card-wrapper{
                position: absolute;
                bottom: 1.25rem;
                left: 0;
                right: 0;
                overflow-x: hidden;
                .cards{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1.25rem;
                    overflow-x: auto;
                    .image-card{
                        position: relative;
                        background: url(/assets/extrawide/bitmap_11@2x.png);
                        height: 24rem;
                        width: auto;
                        object-fit: cover;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        &:nth-child(2){
                            background: url(/assets/extrawide/bitmap_10@2x.png);
                            object-fit: cover;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        &:nth-child(3){
                            background: url(/assets/extrawide/bitmap_9@2x.png);
                            object-fit: cover;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .overlay{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            .heading{
                                font-size: 2.5rem;
                            }
                            .shop-underline-sq{
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
        }
        footer{
            padding: 5rem 0 5rem 0;
            background-color: $dark-514;
            text-align: center;
            a{
                color: $white;
                text-decoration: none;
            }
            .flex{
                display: flex;
                justify-content: center;
                gap: 8rem;
                
                .links{
                    text-align: left;
                    .head{
                        font-size: 1rem;
                        letter-spacing: 1.08px;
                        margin-bottom: 1rem;
                    }
                    ul{
                        li{
                            list-style-type: none;
                            margin-top: 0.5rem;
                            font-size: 0.75rem;
                            line-height: 1.125rem;
                            text-transform: capitalize;
                            font-weight: normal;
                            filter: opacity(0.5);
                        }
                    }
                }
            }
            .newsletter{
                margin: 1.5rem 0;
                .head{
                    margin-bottom: 1rem;
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
                form{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    input[type="text"]{
                        padding: 0.5rem;
                        font-size: 1.125rem;
                        line-height: 1.375rem;
                        text-transform: lowercase;
                        width: 20rem;
                        outline: none;
                        border: none;
                    }
                    input[type="submit"]
                    {
                        padding: 0.8rem 2.5rem;
                        border-radius: 50px;
                        background: $green-b57;
                        outline: none;
                        border: none;
                        @include font($white, $hebbo, 0.813rem, 700);
                        letter-spacing: 1.08px;
                        cursor: pointer;
                    }
                }
            }
            .bottom-img{
                width: 80%;
                margin: auto;
                margin-top: 3.5rem;
            }
            .reserved{
                font-size: 0.625rem;
                filter: opacity(0.5);
                margin-top: 2rem;
                font-weight: normal;
            }
        }
    }
}


// screen width 1120 AND BELOW
@media screen and (max-width: 1120px) {
    body{
        .container{
            .landing-page{
                .hero-section{
                    width: 80%;
                    .hero-heading{
                        font-size: 4rem;
                        line-height: 4rem;
                    }
                }
            }
            .biggest-fold {
                .our-services{
                    width: unset;
                    padding-top: 3rem;
                }
                .explore-destination-section{
                    width: 90vw;
                    .overlay-div{
                        .main-heading{
                            font-size: 2rem;
                            line-height: 2rem;
                            margin-bottom: 1rem;
                        }
                        .desc{
                            font-size: 1.2rem;
                            line-height: 1.2rem;
                        }
                        .shop-underline-sq{
                            margin-top: 5%;
                        }
                    }
                }
                .find-tour-tickets{
                    margin-top: 3rem;
                    height: 24rem;
                    .right{
                        height: 24rem;
                    }
                    .left{
                        .overlay-div{
                            padding: 5% 7vw;
                            .main-heading{
                                font-size: 2rem;
                                line-height: 2rem;
                                margin-bottom: 1rem;
                            }
                            .desc{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .find-your-next-wrapper{
                    .find-your-next{
                        .card{
                            padding-bottom: 23rem;
                            .main-heading{
                                font-size: 2.5rem;
                                line-height: 2.5rem;
                            }
                            .desc{
                                font-size: 1rem;
                            }
                        }
                    }
                    .image-card-wrapper{
                        .cards{
                            .image-card{
                                height: 18rem;
                                .overlay{
                                    .heading{
                                        font-size: 2rem;
                                    }
                                    .shop-underline-sq{
                                        margin-top: 10%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// media 720px
@media screen and (max-width: 720px){
    body{
        .container{
            position: relative;
            .icons{
                overflow-x: auto;
                gap: 3rem;
            }
            .no{
                display: block;
            }
            .hide{
                display: none !important;
            }
            .green-nav{
                flex-direction: column;
                position: relative;
                
            }
            .landing-page{
                #ham{
                    position: absolute;
                    left: 1rem;
                    top: 1rem;
                    div {
                        width: 35px;
                        height: 4px;
                        background-color: $white;
                        margin: 6px 0;
                    }
                }
                .nav-majore{
                    .navigation{
                        flex-direction: column;
                        position: absolute;
                        background: $green-08;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        padding-left: 2rem;
                        align-items: flex-start;
                        justify-content: flex-start;
                        overflow: hidden;
                        #close{
                            position: absolute;
                            right: 1rem;
                            font-size: 1.5rem;
                            top: 1rem;
                            transition: transform ease-in-out 0.3s;
                            &:hover{
                                transform: scale(1.2rem);
                            }
                        }
                    }
                }
                .hero-section{
                    height: 100%;
                    align-items: center;
                    .hero-heading{
                        font-size: 3rem;
                        line-height: 3.5rem;
                        text-align: center;
                    }
                    .mini-heading{
                        font-size: 0.75rem;
                        letter-spacing: 1.13px;
                        text-align: center;
                        margin-bottom: 1.2rem;
                    }
                    .shop-button{
                        margin-top: 3.2rem;
                    }
                }
            }
            .biggest-fold{
                .our-services{
                    padding-top: 3.6rem;
                    .small{
                        font-size: 0.8rem;
                    }
                    .main-heading{
                        margin-top: 1rem;
                        font-size: 2.5rem;
                        line-height: 2.5rem;
                        color: $green-b57;
                    }
                    .shop-button{
                        margin-top: 1.7rem;
                    }
                }
                .explore-destination-section{
                    width: unset;
                    margin-top: 4rem;
                    position: unset;
                    .overlay-div{
                        position: unset;
                        width: 100%;
                        transform: unset;
                        margin: unset;
                        padding: 15% 5%;
                        background: $green-b57;
                    }
                }
                .find-tour-tickets{
                    position: unset;
                    height: unset;
                    display: flex;
                    flex-direction: column-reverse;
                    margin-top: 3.7rem;
                    .left{
                        position: unset;
                        .overlay-div{
                            border-right: unset;
                            border-bottom: 10px solid #e4cb45;
                            padding: 15% 5%;
                        }
                    }
                    .right{
                        position: unset;
                        height: unset;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .find-your-next-wrapper{
                    margin-top: 3.6rem;
                    .image-card-wrapper{
                        position: unset;
                    }
                    .find-your-next{
                        .card{
                            width: 90%;
                            margin: auto;
                            padding: 4.8rem 1rem;
                            text-align: center;
                        }
                    }
                    .image-card-wrapper{
                        .cards{
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
            footer{
                .flex{
                    flex-direction: column;
                    align-items: center;
                }
                .newsletter{
                    form{
                        flex-direction: column;
                    }
                }
            }
        }
    }
} 
